# MIT License

# Copyright (c) 2023 Valentino Guerrini

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[connectivity]

nk = ckks_decryption_reader:1:ckks_decryption_reader_0
nk = ckks_decrypt:1:ckks_decrypt_0
nk = ckks_decode:1:ckks_decode_0
nk = ckks_plaintext_writer:1:ckks_plaintext_writer_0

slr = ckks_decryption_reader_0:SLR0
slr = ckks_decrypt_0:SLR0
slr = ckks_decode_0:SLR0
slr = ckks_plaintext_writer_0:SLR0


sp = ckks_decryption_reader_0.m_axi_gmem0:MC_NOC0
sp = ckks_decryption_reader_0.m_axi_gmem1:MC_NOC0

sp = ckks_decrypt_0.m_axi_gmem4:MC_NOC0

sp = ckks_plaintext_writer_0.m_axi_gmem5:MC_NOC0



stream_connect = ckks_decryption_reader_0.ci_ax_stream:ckks_decrypt_0.ci_ax_stream
stream_connect = ckks_decryption_reader_0.ci_bx_stream:ckks_decrypt_0.ci_bx_stream
stream_connect = ckks_decryption_reader_0.ci_ax_degree_stream:ckks_decrypt_0.ci_ax_degree
stream_connect = ckks_decryption_reader_0.ci_bx_degree_stream:ckks_decrypt_0.ci_bx_degree

stream_connect = ckks_decrypt_0.mx_out_stream:ckks_decode_0.mx_stream

stream_connect = ckks_decode_0.vals:ckks_plaintext_writer_0.vals





[vivado]
# use following line to improve the hw_emu running speed affected by platform
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}

